// ==========================================================================
// Form
// ==========================================================================

.form__input {
    background-color: nth($brand-primary, 1);
    color: white;
    width: 25em;
    margin: 1em auto;

    &:focus {
        background-color: nth($brand-primary, 1);
    }

    &::placeholder {
      color: white;
    }
}

.form__label {
    color: white;
}

.form__submit {
    width: 25em;
    padding: 1em;
}
