// ==========================================================================
// Home
// ==========================================================================

.home {
    &.grid-container {
        padding-top: 9em;
    }

    .cell {
        text-align: center;
    }
}
