// ==========================================================================
// Configuration
// ==========================================================================
@import "config/variables";
@import "config/placeholders";

// ==========================================================================
// Common DOM Elements
// ==========================================================================
body, html {
    font-family: $primary-font;
    height: 100%;
    background-color: nth($brand-primary, 1);
    color: white;
}

// ==========================================================================
// Modules
// ==========================================================================
@import "module/form";

// ==========================================================================
// Components
// ==========================================================================
@import "component/modal";

// ==========================================================================
// Sections
// ==========================================================================
@import "section/home";
