// ==========================================================================
// Variables
// ==========================================================================

// Imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Brands
$brand-primary: #333 #fff;
$brand-accent: #9E9E9E #000;

// Typography
$primary-font: 'Open Sans', sans-serif;