{% extends 'base.html' %}

{% load cdn %}

{% block content %}

    <div class="grid-container full home">
        <div class="grid-x grid-margin-x">
            <div class="cell medium-6">
                <img src="{% asset_url 'images/logo.png' %}" alt="logo">
                <h2>스테이스윗 파트너</h2>
            </div>
            <div class="cell medium-5">
                <h4>가입 신청</h4>
                <form class="form">
                    <input type="text" class="form__input" name="{{ form.location.html_name }}" required placeholder="지역">
                    <input type="text" class="form__input" name="{{ form.suite_type.html_name }}" required placeholder="팬션 타입">
                    <input type="text" class="form__input" name="{{ form.name.html_name }}" required placeholder="성명">
                    <input type="text" class="form__input" name="{{ form.phone_number.html_name }}" required placeholder="연락처">
                    <input type="email" class="form__input" name="{{ form.email.html_name }}" required placeholder="이메일">
                    <input type="url" class="form__input" name="{{ form.website.html_name }}" required placeholder="홈페이지">
                    <input type="submit" class="form__submit" value="확인">
                </form>
            </div>
        </div>
    </div>

{% endblock %}
