{% load cdn %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Pension Management System{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% asset_url 'favicon.ico' %} " />
        <link rel="stylesheet" href="{% asset_url 'foundation/dist/app.min.css' %}">
    </head>
    <body>
        {% include 'modules/header.html' %}

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        {% include 'modules/footer.html' %}

        <script src="{% asset_url 'foundation/dist/vendor.min.js' %}"></script>
        <script src="{% asset_url 'foundation/dist/app.min.js' %}"></script>
    </body>
</html>